/******** GENERELLE INDSTILLINGER ***********/

/********* FONTS ***********/

/************ HEADER OG NAV STYLES *********/

nav {
  margin: 0;
  overflow: hidden;
  width: 100%;
  z-index: 1;
  position: sticky;
  top: 0;
}

nav ul {
  text-align: right;
  padding: 0px;
  z-index: 1;
  position: relative;
}

nav li {
  display: inline;
  text-align: right;
}

li a {
  display: block;
  color: black;
  padding: 14px 36px;
  text-decoration: none;
  font-family: "Lato", sans-serif;
  font-size: 1.2rem;
  letter-spacing: 0.11rem;
  font-weight: 300;
}

li a:hover {
  color: darkblue;
}

.hidden {
  opacity: 0;
  transform: translateX(-100%);
}

#menuknap {
  display: inline-block;
  position: fixed;
  padding: 15px;
  font-family: "Lato", sans-serif;
  font-size: 2.2rem;
  margin-top: -15px;
  z-index: 1;
  position: relative;
}

#menubar {
  list-style-type: none;
  transition: transform 0.3s;
  transform-origin: top left;
}

@media (min-width: 700px) {
  a.home_link {
    text-align: left;
    margin-left: -990px;
    font-size: 2rem;
  }

  #menuknap {
    display: none;
  }

  .hidden {
    opacity: 1;
    transform: translateX(0);
  }

  #menubar li {
    display: inline-block;
  }

  nav ul {
    list-style-type: none;
    margin: 0;
    overflow: hidden;
    top: 0;
    width: 100%;
  }

  header {
    text-align: center;
  }
}

/********* FRONTPAGE ***********/
#frontpage_content {
  display: flex;
  flex-wrap: wrap;
}

.name {
  background-image: url(1x/name_logo.png);
  height: 200px;
  width: 550px;
  background-size: contain;
  margin-top: 100px;
}

.picture {
  background-image: url(1x/artboard2.png);
  height: 400px;
  width: 350px;
  background-size: cover;
  margin-top: 90px;
  margin-left: 40px;
}

/********* WORK ***********/
h1 {
  text-align: center;
}

.grid_layout {
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  display: grid;
  column-gap: 1rem;
  row-gap: 1rem;
}

.work {
  font-size: 16px;
  justify-self: center;
  padding: 30px 0px;
  /* filter: invert(var(--value, 100%)); */
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
}

.overlay {
  background-color: rgba(0, 0, 139, 0.267);
  width: 100%;
  height: 0;
  grid-column: 1/2;
  grid-row: 1/2;
}

.work:hover .overlay {
  height: 100%;
  transition: 1s;
}

.grid_layout img {
  height: 100%;
  width: 100%;
  background-size: cover;
  object-fit: cover;
}

.grid_layout a {
  height: 100%;
  width: 100%;
  grid-column: 1/2;
  grid-row: 1/2;
}
