/******** GENERELLE INDSTILLINGER ***********/

/********* FONTS ***********/

h1 {
  text-align: center;
  color: white;
  -webkit-text-stroke: 1px blue;
  font-weight: bold;
}

/************ HEADER OG NAV STYLES *********/

nav {
  margin: 0;
  overflow: hidden;
  width: 100%;
  z-index: 1;
  position: sticky;
  top: 0;
}

nav ul {
  text-align: right;
  padding: 0px;
  z-index: 1;
  position: relative;
}

nav li {
  display: inline;
  text-align: right;
}

li a {
  display: block;
  color: black;
  padding: 14px 36px;
  text-decoration: none;
  font-family: "Lato", sans-serif;
  font-size: 1.2rem;
  letter-spacing: 0.11rem;
  font-weight: 300;
}

li a:hover {
  color: darkblue;
}

.hidden {
  opacity: 0;
  transform: translateX(-100%);
}

#menuknap {
  display: inline-block;
  position: fixed;
  padding: 15px;
  font-family: "Lato", sans-serif;
  font-size: 2.2rem;
  margin-top: -15px;
  z-index: 1;
  position: relative;
}

#menubar {
  list-style-type: none;
  transition: transform 0.3s;
  transform-origin: top left;
}

@media (min-width: 700px) {
  a.home_link {
    text-align: left;
    margin-left: -990px;
    font-size: 2rem;
  }

  #menuknap {
    display: none;
  }

  .hidden {
    opacity: 1;
    transform: translateX(0);
  }

  #menubar li {
    display: inline-block;
  }

  nav ul {
    list-style-type: none;
    margin: 0;
    overflow: hidden;
    top: 0;
    width: 100%;
  }

  header {
    text-align: center;
  }
}

a#cooltext.home_link {
  font-family: "Staatliches", cursive;
  font-size: 3rem;
}

/********* FOOTER  **********/
.copyright {
  font-size: 10px;
  margin-top: 77px;
  letter-spacing: 0.0875rem;
  margin-right: 30px;
  margin-bottom: 30px;
  font-weight: 200;
  color: black;
  text-align: right;
}

/********* FRONTPAGE ***********/
#frontpage_content1 {
  grid-template-columns: 1fr 1fr;
  display: grid;
}

.image1 {
  background-image: url(1x/front_image1.png);
  height: 550px;
  width: 400px;
  background-size: cover;
  justify-self: center;
  display: grid;
}

.image2 {
  background-image: url(1x/people1.png);
  height: 550px;
  width: 400px;
  background-size: cover;
  justify-self: center;
  display: grid;
}

#frontpage_content2 {
  display: grid;
  grid-template-columns: 1fr;
  margin-top: -100px;
}

.name_intro {
  margin-top: 10px;
  text-align: center;
}

.name_intro img {
  margin-top: 40px;
  margin-bottom: 40px;
}

.picture {
  justify-self: center;
  width: 400px;
  transition: all 5s ease-in-out 0s;
}

/* .picture {
  background-image: url(1x/frontapage_2.png);
  height: 400px;
  width: 400px;
  background-size: cover;
  margin-top: 90px;
  transition: all 5s ease-in-out 0s;
  margin-left: 200px;
}
*/

.picture:hover {
  cursor: default;
  transform: rotate(-360deg);
  transition: all 5s ease-in-out 0s;
}

#frontpage_content3 img {
  width: 100%;
  height: auto;
  position: relative;
}

.center_text {
  font-size: 30px;
  color: black;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* FULL TEXT ANIMATION */
.fulltext-animation {
  --letter: 0s;
  animation-name: fulltext-animation_kf;
  animation-duration: 1.5s;
  animation-iteration-count: 1;
  animation-timing-function: linear;
  animation-timing-function: cubic-bezier(0, 0.73, 0.91, 1.42);
  animation-delay: calc(var(--letter) * 0.1s);
  animation-fill-mode: both;
  /* animation-delay: var(--delay); */
}

@keyframes fulltext-animation_kf {
  0% {
    transform: translate(0, 50px);
    opacity: 0;
  }
  /* 80% {
        transform: translate(0, -5px);
      } */
  100% {
    transform: translate(0, 0);
    opacity: 1;
  }
}

/********* WORK ***********/

.grid_layout {
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  display: grid;
  column-gap: 1rem;
  row-gap: 1rem;
  margin-left: 250px;
  margin-right: 250px;
  margin-bottom: 50px;
}

.work {
  justify-self: center;
  /* padding: 40px 60px 0px 60px; */
  /* padding: 40px 10px 0px 10px; */
  /* filter: invert(var(--value, 100%)); */
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  align-items: flex-end;
}

.overlay {
  background-color: rgba(0, 0, 0, 0.918);
  width: 100%;
  height: 0;
  grid-column: 1/2;
  grid-row: 1/2;
}

.overlay h3 {
  color: white;
  font-family: "Assistant", sans-serif;
  font-size: 1.2rem;
  line-height: 1.5;
  text-align: center;
}

.overlay p {
  color: white;
  font-family: "Assistant", sans-serif;
  font-size: 1rem;
  line-height: 1.5;
  text-align: center;
  padding: 10px;
}

/* .overlay h4 {
  background-color: #000;
  color: white;
  border: none;
  text-align: center;
  text-decoration: none;
  transition: 0.3s;
  box-shadow: 4px 4px 7px rgba(113, 113, 113, 0.78);
  font-family: "Lato", sans-serif;
  font-size: 0.8rem;
  letter-spacing: 0.12rem;
  font-weight: 500;
  text-transform: uppercase;
  padding: 10px 20px;
} */

.work:hover .overlay {
  height: 100%;
  transition: 0.4s;
}

.grid_layout img {
  height: 100%;
  width: 100%;
  background-size: cover;
  object-fit: cover;
}

.grid_layout a {
  height: 100%;
  width: 100%;
  grid-column: 1/2;
  grid-row: 1/2;
}

@media (max-width: 1000px) {
  .grid_layout {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    display: grid;
    /* column-gap: 1rem;
      row-gap: 1rem; */
    margin-right: 0px;
    margin-left: 0px;
  }

  .work {
    font-size: 16px;
    justify-self: center;
    padding: 40px 60px 0px 60px;
    /* filter: invert(var(--value, 100%)); */
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    align-items: flex-end;
  }

  .grid_layout img {
    height: 100%;
    width: 100%;
    background-size: cover;
    object-fit: cover;
  }
}

@media (max-width: 700px) {
  .grid_layout {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    display: grid;
    /* column-gap: 1rem;
    row-gap: 1rem; */
    margin-right: 0px;
    margin-left: 0px;
  }

  .work {
    font-size: 16px;
    justify-self: center;
    padding: 40px 60px 0px 60px;
    /* filter: invert(var(--value, 100%)); */
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    align-items: flex-end;
  }

  .grid_layout img {
    height: 100%;
    width: 100%;
    background-size: cover;
    object-fit: cover;
  }
}

/********* ABOUT ***********/
#about_content {
  display: flex;
  flex-wrap: wrap;
  /* flex-direction: row; */
}

#about_content {
  width: 100%;
  height: auto;
  position: relative;
}

/* .about_info {
  margin-top: 20px;
  margin-left: 60px;
} */

.about_info p,
h3 {
  font-size: 19px;
  color: white;
  line-height: 30px;
  /* max-width: 600px; */
}

.about_centertext {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* .illustration1 {
  background-image: url(1x/about_image.png);
  height: 400px;
  width: 400px;
  background-size: cover;
  margin-top: 20px;
  transition: all 5s ease-in-out 0s;
  margin-left: 200px;
}

.illustration1:hover {
  cursor: default;
  transform: rotate(-360deg);
  transition: all 5s ease-in-out 0s;
} */

/********* CONTACT ***********/
#contact_content {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.contact_info {
  margin-top: 90px;
  margin-left: 60px;
}

.contact_infoimg {
  max-width: 500px;
}

.contact_info p {
  font-size: 20px;
  color: black;
}

p.contact_info {
  font-size: 1.5rem;
  margin-top: -20px;
}

.illustration2 {
  background-image: url(1x/frontpage_image1.png);
  height: 400px;
  width: 400px;
  background-size: cover;
  margin-top: 90px;
  transition: all 5s ease-in-out 0s;
  margin-left: 200px;
}

.illustration2:hover {
  cursor: default;
  transform: rotate(-360deg);
  transition: all 5s ease-in-out 0s;
}
