/******** GENERELLE INDSTILLINGER ***********/

* {
  margin: 0;
  box-sizing: border-box;
}

/********* FONTS ***********/

h1 {
  text-align: center;
  color: white;
  -webkit-text-stroke: 1px blue;
  font-weight: bold;
}

p {
  font-family: "Assistant", sans-serif;
}

/************ HEADER OG NAV STYLES *********/

header {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 1rem;
}

.logo {
  margin-right: auto;
}

a#cooltext.home_link {
  font-family: "Staatliches", cursive;
  font-size: 3rem;
  color: black;
  text-decoration: none;
  margin-left: -80px;
}

nav {
  flex: 1 1 100%;
}

li {
  list-style-type: none;
}

ul {
  display: none;
  gap: 1rem;
  list-style: none;
  padding: 0;
  flex-flow: column;
}

li a {
  display: block;
  color: black;
  padding: 10px 26px;
  text-decoration: none;
  font-family: "Lato", sans-serif;
  font-size: 1.2rem;
  letter-spacing: 0.11rem;
  font-weight: 300;
}

#menuknap {
  display: inline-block;
  position: relative;
  padding: 15px;
  border: none;
  background-color: white;
  font-family: "Lato", sans-serif;
  font-size: 2rem;
  margin-top: -15px;
  right: -400px;
  position: relative;
  justify-content: end;
}

a#cooltext.home_link a:hover {
  color: darkblue;
}

li a:hover {
  color: darkblue;
}

.shown {
  display: flex;
  padding: 1rem 0;
}

.hidden {
  opacity: 0;
  transform: translateX(-100%);
}

@media (min-width: 700px) {
  button {
    display: none;
  }
  #menuknap {
    display: none;
  }

  a#cooltext.home_link {
    margin-left: -10px;
  }

  nav {
    flex: revert;
  }

  ul {
    display: flex;
    flex-flow: revert;
  }

  .shown {
    padding: 0;
  }

  .hidden {
    opacity: 1;
    transform: translateX(0);
  }
}

/********* FOOTER **********/
.footer_content {
  font-size: 10px;
  margin-top: 77px;
  letter-spacing: 0.0875rem;
  margin-bottom: 10px;
  font-weight: 200;
  color: black;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.social_media a {
  text-align: left;
  text-decoration: none;
  color: black;
  margin-left: 30px;
}

.copyright {
  text-align: right;
  margin-right: 30px;
}

/********* FRONTPAGE ***********/
#frontpage_content1 {
  grid-template-columns: 1fr 1fr;
  display: grid;
}

.image1 {
  background-image: url(1x/front_image1.png);
  height: 550px;
  width: 400px;
  background-size: cover;
  justify-self: center;
  display: grid;
}

.image2 {
  background-image: url(1x/people1.png);
  height: 550px;
  width: 400px;
  background-size: cover;
  justify-self: center;
  display: grid;
}

#frontpage_content2 {
  display: grid;
  grid-template-columns: 1fr;
  margin-top: -100px;
}

.name_intro {
  margin-top: 10px;
  text-align: center;
}

.name_intro img {
  margin-top: 40px;
  margin-bottom: 40px;
  max-width: 600px;
}

.picture {
  justify-self: center;
  width: 400px;
  transition: all 5s ease-in-out 0s;
}

/* .picture {
  background-image: url(1x/frontapage_2.png);
  height: 400px;
  width: 400px;
  background-size: cover;
  margin-top: 90px;
  transition: all 5s ease-in-out 0s;
  margin-left: 200px;
}
*/

.picture:hover {
  cursor: default;
  transform: rotate(-360deg);
  transition: all 5s ease-in-out 0s;
}

#frontpage_content3 {
  background-image: url(1x/background_cover.png);
  width: 100%;
  height: 600px;
  position: relative;
}

.center_text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.center_text p {
  font-family: "Assistant", sans-serif;
  font-size: 30px;
  color: white;
}

.arrow {
  color: white;
  text-decoration: none;
  margin-top: 400px;
}

/* FULL TEXT ANIMATION */
.fulltext-animation {
  --letter: 0s;
  animation-name: fulltext-animation_kf;
  animation-duration: 3s;
  animation-iteration-count: 1;
  animation-timing-function: linear;
  animation-timing-function: cubic-bezier(0, 0.73, 0.91, 1.42);
  animation-delay: calc(var(--letter) * 0.2s);
  animation-fill-mode: both;
  /* animation-delay: var(--delay); */
}

@keyframes fulltext-animation_kf {
  0% {
    transform: translate(0, 50px);
    opacity: 0;
  }
  /* 80% {
        transform: translate(0, -5px);
      } */
  100% {
    transform: translate(0, 0);
    opacity: 1;
  }
}

@media (max-width: 800px) {
  #frontpage_content1 {
    grid-template-columns: 1fr;
    display: grid;
    grid-gap: 10px;
  }

  #frontpage_content2 {
    display: grid;
    grid-template-columns: 1fr;
    margin-top: 40px;
  }

  .picture {
    margin-bottom: 40px;
    justify-self: center;
    width: 300px;
    transition: all 5s ease-in-out 0s;
  }

  #frontpage_content3 {
    background-image: url(1x/background_cover.png);
    width: 100%;
    height: 600px;
    position: relative;
  }

  .name_intro img {
    width: 100%;
    height: auto;
    margin-top: 40px;
    margin-bottom: 40px;
  }
}

/********* WORK ***********/
.grid_layout {
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  display: grid;
  column-gap: 1rem;
  row-gap: 1rem;
  margin-left: 250px;
  margin-right: 250px;
  margin-bottom: 50px;
}

.work {
  justify-self: center;
  /* padding: 40px 60px 0px 60px; */
  /* padding: 40px 10px 0px 10px; */
  /* filter: invert(var(--value, 100%)); */
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  align-items: flex-end;
}

.overlay {
  background-color: rgba(0, 0, 0, 0.918);
  width: 100%;
  height: 0;
  grid-column: 1/2;
  grid-row: 1/2;
}

.overlay h3 {
  color: white;
  font-family: "Assistant", sans-serif;
  font-size: 1.2rem;
  line-height: 1.5;
  text-align: center;
}

.overlay p {
  color: white;
  font-family: "Assistant", sans-serif;
  font-size: 1rem;
  line-height: 1.5;
  text-align: center;
  padding: 10px;
}

/* .overlay h4 {
  background-color: #000;
  color: white;
  border: none;
  text-align: center;
  text-decoration: none;
  transition: 0.3s;
  box-shadow: 4px 4px 7px rgba(113, 113, 113, 0.78);
  font-family: "Lato", sans-serif;
  font-size: 0.8rem;
  letter-spacing: 0.12rem;
  font-weight: 500;
  text-transform: uppercase;
  padding: 10px 20px;
} */

.work:hover .overlay {
  height: 100%;
  transition: 0.4s;
}

.grid_layout img {
  height: 100%;
  width: 100%;
  background-size: cover;
  object-fit: cover;
}

.grid_layout a {
  height: 100%;
  width: 100%;
  grid-column: 1/2;
  grid-row: 1/2;
}

@media (max-width: 1000px) {
  .grid_layout {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    display: grid;
    /* column-gap: 1rem;
      row-gap: 1rem; */
    margin-right: 0px;
    margin-left: 0px;
  }

  .work {
    font-size: 16px;
    justify-self: center;
    padding: 40px 60px 0px 60px;
    /* filter: invert(var(--value, 100%)); */
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    align-items: flex-end;
  }

  .grid_layout img {
    height: 100%;
    width: 100%;
    background-size: cover;
    object-fit: cover;
  }
}

@media (max-width: 700px) {
  .grid_layout {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    display: grid;
    /* column-gap: 1rem;
    row-gap: 1rem; */
    margin-right: 0px;
    margin-left: 0px;
  }

  .work {
    font-size: 16px;
    justify-self: center;
    padding: 40px 60px 0px 60px;
    /* filter: invert(var(--value, 100%)); */
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    align-items: flex-end;
  }

  .grid_layout img {
    height: 100%;
    width: 100%;
    background-size: cover;
    object-fit: cover;
  }
}

/********* ABOUT ***********/
#about_content {
  background-image: url(1x/portrait_background.png);
  width: 100%;
  height: 696px;
  position: relative;
}

/* #about_content img {
  width: 100%;
  height: auto;
  position: relative;
} */

/* .about_info {
  margin-top: 20px;
  margin-left: 60px;
} */

.about_centertext p {
  font-size: 19px;
  color: black;
  line-height: 30px;
}

.about_centertext h3 {
  font-size: 15px;
  color: black;
  line-height: 30px;
}

.about_centertext {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@media (max-width: 1000px) {
  .about_centertext p,
  h3 {
    font-size: 15px;
    color: black;
    line-height: 30px;
  }

  .about_centertext {
    position: absolute;
    top: 50%;
    left: 40%;
    transform: translate(-50%, -50%);
  }
}

@media (max-width: 600px) {
  #about_content {
    background-image: url(1x/portrait_background_mobile.png);
    width: 100%;
    height: 696px;
    position: relative;
  }
}

/********* CONTACT ***********/
#contact_content {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.contact_info {
  margin-top: 90px;
  margin-left: 60px;
}

.contact_infoimg {
  max-width: 500px;
}

.contact_info p {
  font-size: 20px;
  color: black;
}

p.contact_info {
  font-size: 1.5rem;
  margin-top: -20px;
}

.illustration2 {
  background-image: url(1x/frontpage_image1.png);
  height: 400px;
  width: 400px;
  background-size: cover;
  margin-top: 90px;
  transition: all 5s ease-in-out 0s;
  margin-left: 200px;
}

.illustration2:hover {
  cursor: default;
  transform: rotate(-360deg);
  transition: all 5s ease-in-out 0s;
}
